body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  background-color: #d8d8d8;
  justify-content: space-between;
  overflow: hidden;
}

/* side bar options */
.container > .left {
  width: 13%;
  height: 100%;
  border-right: 2px solid #959595;
}

.container > .left > .logo {
  width: 100%;
  display: grid;
  place-items: center;
  padding-top: 1rem;
}

.container > .left > .option {
  width: 100%;
  margin-top: 1.5rem;
  font-size: 17px;
  text-align: left;
  cursor: pointer;
}

.container > .left > .option > .link {
  margin-left: 3rem;
}

/* right side options */
.container > .right {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow: scroll;
  align-items: center;
}

.container .top {
  text-align: left;
  width: 80%;
  margin: 1rem;
}

.chartoption {
  width: 80%;
  padding: 1rem;
  margin-top: 1rem;
  display: flex;
  justify-content: space-between;
}

.cards {
  width: 80%;
  display: flex;
  justify-content: space-between;
}

.card {
  width: 300px;
  height: 100px;
  padding: 10px;
  border: 2px solid #959595;
}

.card .label {
  font-size: 20px;
  margin-top: 1rem;
}

.card .info {
  font-size: 25px;
  margin-top: 1rem;
}

.right .products {
  width: 80%;
  height: 80%;
  padding: 1rem;
  border: 2px solid #959595;
}

.chart {
  width: 80%;
  height: auto;
}

/* table */

thead {
  padding: 1rem;
  text-align: left;
}
